{% extends 'charts/base.html' %}

{% block header %}
<title>Moneroj.net - About</title>
<style>
    .break {
        word-break: break-all;
    }
    .link {
        color: #ff4d21;
        }

    .link:hover {
        color: #ff8262;
        text-decoration: none;
    }
    .pill {
        background: #ff4d21;
        color: #1e1c1b;
        }

    .pill:hover {
        background: #ff8262;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}

{% load static %}

<!-- Content Wrapper -->
<div id="content-wrapper" style="background-color:rgb(48, 44, 41)">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid"><br>
            <div class="row">
                <div class="col mb-4">
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card border-left-new">
                                <img class="card-img-top" src="{% static 'img/morpheus.jpeg' %}" alt="Morpheus">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card border-left-new">
                                <div class="card-body">
                                    <h4 class="card-text text-white">Crowdfunding to help us</h4>
                                    <p class="card-text text-white" style="text-align: justify; text-justify: inter-word;">
                                        Moneroj.net needs help to pay for server expenses and development. There's 25
                                        new charts since the CCS Proposal, our new TOR link and a new Articles section.
                                        Also major loading speed improvement on the Charts.
                                        <a class="link" href="https://moneroj.net/article/New-charts-released,-and-why-we-gave-up-the-CCS-Proposal">
                                            Read more about it.
                                        </a> 
                                    </p>
                                    <p class="card-text text-white" style="text-align: justify; text-justify: inter-word;">
                                        <iframe src="https://trocador.app/anonpay/?ticker_to=xmr&network_to=Mainnet&address=8Agy1JvbsttEV2Jp2ecyRLSoKiCQwr4f2FKjWh2dz8Q1Y4LXCxXDNBf5praUrc1v8vDSqHYUefqxkiLNgnjvDfQNQStwvP6&donation=True&amount=1.0&name=Moneroj.net&description=Donation&email=morpheus.anonymous@protonmail.com&ref=pbhBEQR5WU&ticker_from=xmr&network_from=Mainnet&buttonbgcolor=ff4d21" width="100%" height="350" style="border:0" scrolling="no"></iframe>
                                    </p>

                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text text-white">
                                                <i class="bx bx-user"></i> Morpheus
                                                <i class="bx bx-calendar"></i> May 11,<br>82 contributions
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: right;" class="card-text text-white">
                                                (manual update) <i class="bx bx-money"></i> Raised<br>47.05 of 46 XMR
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                            style="width: 100%; background: #ff4d21" aria-valuenow="46" aria-valuemin="0"
                                            aria-valuemax="46"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card border-left-new">
                                <div class="card-body">
                                    <h4 class="card-text text-white">About this website</h4>
                                    <p class="card-text text-white" style="text-align: justify; text-justify: inter-word;">
                                        Hi, you can call me Morpheus. I made this website to help fellow members of Monero's
                                        community understand it, visualize adoption and to compare it against other
                                        projects such as Bitcoin or its competitors
                                        on the privacy market. This project was made without any intention for profit,
                                        and is maintained by my own funds. If you liked it and want to help
                                        the project, you can donate some XMR. Also, all type of suggestions are welcome!<br><br>
                                        I do believe Monero is like no other currency, since it has true privacy
                                        (optional privacy is no privacy at all),
                                        and also serves as a store of value (since it has an already small and yet
                                        decreasing anual inflation). I also believe in Bitcoin, I believe Bitcoin will
                                        indeed achieve its value as Digital Gold, since it has gigantic brand
                                        recognition, besides its proved scarcity. However, for most transactions, if we
                                        truly want a digital world, we cant rely on open ledgers to do businesses. It is
                                        just simply a privacy nightmare to pay or receive payment from
                                        someone without using fungible money. Bitcoin is not fungible, which means
                                        different Bitcoins are different from each other, since both have different
                                        (and verifiable) history. Will you also take the orange pill?
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="https://www.getmonero.org/" class="btn btn-block pill">Take the Orangepill</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="https://www.federalreserve.gov/" class="btn btn-block btn-primary">Take the
                                                Bluepill
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card border-left-new">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Hidden Service</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><a class="link"
                                                    href="http://moneroj5xq4ttg4ec7e5secqdyw5mcovzvfvlq6i7omv353i6mnexlqd.onion"
                                                    target="_blank">Onion Link</a>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bx bx-hide fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% endblock %}