# TODO: Less strict version pinning, and more up-to-date versions!
# TODO: Also tidy up the list, remove indirect dependencies, etc.
aiohttp==3.10.10
aiosignal==1.3.1
asgiref==3.8.1
async-timeout==4.0.2 # TODO: 5.0.1
attrs==22.1.0 # TODO: 24.2.0
beautifulsoup4==4.12.3
cachetools==5.5.0
chardet==4.0.0 # TODO: 5.2.0 – also, requests already depends on charset-normalizer, so why not use that?
click==8.1.7
dj-database-url==0.5.0 # TODO: 2.3.0
dj-static==0.0.6 # TODO: Serving statics should be done by the web server, not Django...
Django==5.1.3
django-bootstrap4==24.4
django-csp==3.8
feedparser==6.0.11
frozenlist==1.5.0
google-api-core==2.23.0 # TODO: Probably Google deps shouldn't be pinned at all? Or less strictly?
google-api-python-client==2.49.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.2
gunicorn # TODO: Should this really be a project dependency?
httplib2==0.20.4
multidict==6.1.0
numpy
oauthlib==3.2.2
pandas==2.2.3
protobuf==3.20.1 # TODO: 5.28.3
psaw==0.1.0 # TODO: Unmaintained, recommends switch to https://github.com/mattpodolak/pmaw
psycopg2-binary
pyasn1==0.6.1
pyasn1-modules==0.4.1
pygsheets==2.0.6
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz
requests<3.0.0
requests-oauthlib==1.3.1 # TODO: 2.0.0
rsa==4.9
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
static3==0.7.0 # TODO: Same as dj-static
uritemplate==4.1.1
yarl==1.17.1
