{% extends "users/base.html" %}
{% block header %}

<title>Moneroj.net - Articles</title>

<style>  
  .login_page {
      width: 250px;
  }
  
  .form {
      position: relative;
      z-index: 1;
      background: #313030;
      max-width: 100%;
      padding: 20px;
      text-align: center;
      border-radius: 20px
  }
  
  .form input {
      font-family: "Roboto", Sans-serif;
      outline: 0;
      width: 100%;
      border: 0;
      margin: 0 0 10px;
      padding: 5px;
      font-size: 14px;
      border-radius: 5px
  }
  
  .form button {
      font-family: "Roboto", Sans-serif;
      outline: 0;
      background: #ff4d21;
      width: 100%;
      border: 0;
      border-radius: 5px;
      padding: 5px;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer
  }
  
  .form button:hover,
  .form button:active {
      background: #db3b13
  }
  
  .form .message {
      margin: 10px 0 0;
      color: rgb(255, 255, 255);
      font-size: 16px
  }
  
  .form .message a {
      color: #ff4d21;
      text-decoration: none
  }
  .link-grey a {
      color: #313030;
      text-decoration: none
  }
  .link-grey a:hover {
      color: #4f4f4f;
      text-decoration: none
  }
  .link-white a {
      color: #ffffff;
      text-decoration: none
  }
  .link-white a:hover {
      color: #ececec;
      text-decoration: none
  }
  
  .form .register_form {
      display: none
  }

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 50vh;
    background: url("../../../static/img/articles/{{ thumbnail | safe }}") center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 0;
    margin-bottom: -100px;
  }
</style>

{% endblock header %}
{% block content %}

{% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= Articles Section ======= -->
    <section id="articles" class="articles">
      <div class="container">
        {% for article in articles %}

        {% if article.count == 0 %}
        <div class="row">
          <div class="col-xl-8 col-lg-5">
            <div class="content">
              <h3 class="link-white"><a href="../article/{{ article.url }}">{{ article.title }}</a></h3>
              <p class="link-white" style="text-align: justify;">
                <b><a href="../article/{{ article.url }}">Article by {{ article.owner.username }}, {{ article.date_published }}</a></b><br><br>{{ article.text | safe }}
              </p>
            </div>
          </div>
          <div class="col-xl-4 d-flex flex-column justify-content-center">
            <form class="needs-validation" action="{% url 'articles:articles' %}" method='POST' novalidate>
              {% csrf_token %}
              {% if message %}
                {% if message == 'Subscription successful!' %}
                <div class="alert alert-success">
                  <strong><center>{{ message }}</center></strong>
                </div>
                {% else %}
                <div class="alert alert-danger">
                  <strong><center>{{ message }}</center></strong>
                </div>
                {% endif %}
              {% endif %}
              <div class="form">
                <h1><i class="bx bx-mail-send" style="color: #ffffff"></i></h1>
                <h3 style="color: #ffffff">Subscribe</h3><br>
                <input type="text" name="email" placeholder="E-mail"> 
                <div class="invalid-tooltip">
                  This field must be filled
                </div>
                <button type="submit">Subscribe</button>
                <input type="hidden" name="next" value="{% url 'articles:articles' %}">
              </div>
            </form>
          </div>
        </div>
        <br>

        <div class="row">

        {% elif article.count < 7 %}
        <div class="icon-boxes col-xl-4">
          <div class="card">
            <a href="../article/{{ article.url }}"><img class="card-img-top" src="{% static article.thumbnail %}"></a>
            <div class="card-body">
              <h5><a href="../article/{{ article.url }}">{{ article.title }}</a></h5>
              <p>{{ article.text | safe }}</p>
              <h6><b>Article by {{ article.owner.username }}, {{ article.date_published }}</b></h6>
            </div>
          </div>
        </div>

        {% elif article.count == 7 %}
        </div>

        <div class="row">
          <div class="col-xl-4 d-flex flex-column justify-content-center">
            <form class="needs-validation" action="{% url 'articles:articles' %}" method='POST' novalidate>
              {% csrf_token %}
              {% if message %}
                {% if message == 'Subscription successful!' %}
                <div class="alert alert-success">
                  <strong><center>{{ message }}</center></strong>
                </div>
                {% else %}
                <div class="alert alert-danger">
                  <strong><center>{{ message }}</center></strong>
                </div>
                {% endif %}
              {% endif %}
              <div class="form">
                <h1><i class="bx bx-mail-send" style="color: #ffffff"></i></h1>
                <h3 style="color: #ffffff">Subscribe</h3><br>
                <input type="text" name="email" placeholder="E-mail"> 
                <div class="invalid-tooltip">
                  This field must be filled
                </div>
                <button type="submit">Subscribe</button>
                <input type="hidden" name="next" value="{% url 'articles:articles' %}">
              </div>
            </form>
          </div>
          <div class="col-xl-8 col-lg-5">
            <div class="content">
              <h3 class="link-white"><a href="../article/{{ article.url }}">{{ article.title }}</a></h3>
              <p class="link-white" style="text-align: justify;">
                <b><a href="../article/{{ article.url }}">Article by {{ article.owner.username }}, {{ article.date_published }}</a></b><br><br>{{ article.text | safe }}
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">

        {% elif article.count > 7 %}
        <div class="icon-boxes col-xl-4">
          <div class="card">
            <a href="../article/{{ article.url }}"><img class="card-img-top" src="{% static article.thumbnail %}"></a>
            <div class="card-body">
              <h5><a href="../article/{{ article.url }}">{{ article.title }}</a></h5>
              <p>{{ article.text | safe }}</p>
              <h6><b>Article by {{ article.owner.username }}, {{ article.date_published }}</b></h6>
            </div>
          </div>
        </div>

        {% endif %} 
        {% endfor %}


        </div>
        <div class="row">
          <div class="icon-boxes col-xl-12">
            <div class="card"><br>
            <p>Images were taken from <a href="https://monero.graphics/" target="_blank">https://monero.graphics/</a> under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> license, check their work and donate them some Moneroj.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- End Articles Section -->

  </main>
  <!-- End #main -->

{% endblock content %}







