{% extends "users/base.html" %}
{% block header %}

<title>Moneroj.net - Choose your image</title>

{% endblock header %}
{% block content %}


{% load static %}
<!-- ======= Articles Section ======= -->
<section id="articles" class="articles">
  <div class="container">

    <div class="row">
      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-cat-untraceable-400x300.png' %}">
          <div class="card-body">
            <p>monero-cat-untraceable</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-geometric-logo-400x300.png' %}">
          <div class="card-body">
            <p>monero-geometric-logo</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-is-the-best-regardless-sticker-400x300.png' %}">
          <div class="card-body">
            <p>monero-is-the-best-regardless-sticker</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-mining-4-privacy-400x300.png' %}">
          <div class="card-body">
            <p>monero-mining-4-privacy</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-support-your-local-cypherpunk-400x300.png' %}">
          <div class="card-body">
            <p>monero-support-your-local-cypherpunk</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-the-corrupt-fear-us-400x300.png' %}">
          <div class="card-body">
            <p>monero-the-corrupt-fear-us</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-trace-400x300.png' %}">
          <div class="card-body">
            <p>monero-trace</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-will-survive-tyranny-sticker-400x300.png' %}">
          <div class="card-body">
            <p>monero-will-survive-tyranny-sticker</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/monero-you-need-no-portfolio-400x300.png' %}">
          <div class="card-body">
            <p>monero-you-need-no-portfolio</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/price-action-400x300.png' %}">
          <div class="card-body">
            <p>price-action</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/private-by-default-400x300.png' %}">
          <div class="card-body">
            <p>private-by-default</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/private-electronic-money-400x300.png' %}">
          <div class="card-body">
            <p>private-electronic-money</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/stats-400x300.png' %}">
          <div class="card-body">
            <p>stats</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/ussse-monero-400x300.png' %}">
          <div class="card-body">
            <p>ussse-monero</p>
          </div>
        </div>
      </div>

      <div class="icon-boxes col-xl-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/articles/why-speculate-400x300.png' %}">
          <div class="card-body">
            <p>why-speculate</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock content %}







