{% extends "users/base.html" %}
{% block header %}

<title>Moneroj.net - New Article</title>

<style>  
  .form button {
    font-family: "Roboto", Sans-serif;
    outline: 0;
    background: #ff4d21;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer
  }
  .form button:hover {
    background: #d53b14;
  }
  
</style>

{% endblock %}
{% block content %}

  <br><br><br>
  <div class="container">
    
      <h2>Write a new article:</h2><br>
      <form class="needs-validation form" action="{% url 'articles:new_article' %}" method='POST' novalidate>
        {% csrf_token %}
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="id_title" placeholder="Example: Check out new Monero usage and stats" required>
            <div class="valid-tooltip">
              OK
            </div>
            <div class="invalid-tooltip">
              This field is required
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="subtitle">Subtitle (up to five keywords):</label>
            <input type="text" class="form-control" name="subtitle" id="id_subtitle" placeholder="Example: Why privacy matters" required>
            <div class="valid-tooltip">
              OK
            </div>
            <div class="invalid-tooltip">
              This field is required
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="thumbnail">Thumbnail image <a href="{% url 'articles:images' %}" target="_blank">(check it out)</a></label>
            <select class="browser-default custom-select" name="thumbnail" id="id_thumbnail" required>
              <option selected>Select one thumbnail option</option>
              <option value="price-action-400x300.png">price-action</option>
              <option value="stats-400x300.png">stats</option>
              <option value="monero-cat-untraceable-400x300.png">monero-cat-untraceable</option>
              <option value="monero-geometric-logo-400x300.png">monero-geometric-logo</option>
              <option value="monero-is-the-best-regardless-sticker-400x300.png">monero-is-the-best-regardless-sticker</option>
              <option value="monero-mining-4-privacy-400x300.png">monero-mining-4-privacy</option>
              <option value="monero-support-your-local-cypherpunk-400x300.png">monero-support-your-local-cypherpunk</option>
              <option value="monero-the-corrupt-fear-us-400x300.png">monero-the-corrupt-fear-us</option>
              <option value="monero-trace-400x300.png">monero-trace</option>
              <option value="monero-will-survive-tyranny-sticker-400x300.png">monero-will-survive-tyranny-sticker</option>
              <option value="monero-you-need-no-portfolio-400x300.png">monero-you-need-no-portfolio</option>
              <option value="private-by-default-400x300.png">private-by-default</option>
              <option value="private-electronic-money-400x300.png">private-electronic-money</option>
              <option value="ussse-monero-400x300.png">ussse-monero</option>
              <option value="why-speculate-400x300.png">why-speculate</option>
            </select>
            <div class="valid-tooltip">
              OK
            </div>
            <div class="invalid-tooltip">
              Preencha esse campo
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="text">Article:</label>
            <textarea type="text" rows="10" cols="50" class="form-control" name="text" id="id_text" placeholder="Write here the article, the system accepts HTML formatting such as <p></p> for paragraphs, <br> for line breaks, and so on." required></textarea>
            <div class="valid-tooltip">
              OK
            </div>
            <div class="invalid-tooltip">
              This field is required
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-2 mb-3">
            <label for="text">Save:</label>
            <button class="" type="submit">Submit for approval</button>
          </div>
        </div>
      </form>
      <br><br>
      <h2>Tips for a better article:</h2><br>
      <p>All fields are required. Write on a notepad and save locally your article before submitting, otherwise you might
        lose all your work. Use simple sentences for the Subtitle, five words at maximum. Select any thumbnail image,
        this serves only as a decoration for the article, it doesn't have to be related to the article. 
        You can use HTML tags to format the article:
        <ul>
          <li>For paragraphs <b>&#60;p style='font-size: 20px;'&#62;&#60;/p&#62;</b> </li>
          <li>For external images <b>&#60;image src='ADDRESS' width='100%'&#62;</b> </li>
          <li>To centralize text and images <b>&#60;center&#62;&#60;/center&#62;</b> </li>
          <li>For bold text <b>&#60;b&#62;&#60;/b&#62;</b> </li>
          <li>Line break <b>&#60;br&#62;</b> </li>
          <li>External links <b>&#60;a href='ADDRESS' target='_blank'&#62;&#60;/a&#62;</b> </li>
          <li>Title and headers <b>&#60;h1&#62;&#60;/h1&#62; to &#60;h6&#62;&#60;/h6&#62;</b> </li>
          <li>Always use single quotes <b>'</b> instead of double quotes <b>"</b> inside HTML tags.</li>
          <li>Images must always have <b>width='100%'</b>, or the design will break.</li>
          <li>Try not to use images in the middle of the first paragraph of the article. Use them either at the beginning or after the first paragraph.</li>
        </ul>
      </p>

  </div>
 

  <br><br><br>

{% endblock %}







