{% extends "users/base.html" %}

{% block content %}
<br>


<div class="container">

  <center><h3>Rules of conduct</h3></center><br>
  <p align="justify">
    <b>1:</b> Moneroj.net does not store the IP or any other personal data about its users. The only data stored are e-mail (which the user doesn't even need to confirm, so he can fake an account), username and password. If the user provides a fake e-mail he might be subject of losing access to his account in case he loses his password.
    <br><br>
    <b>2:</b> If Moneroj.net ever provide services as an exchange, transactions will be stored on the server, but will be available for erase by the user. If we ever provide services as a marketplace, only data stored will be the ones provided as free will by the user, such as item price, item name, wallet address (in case of the seller), etc. The user will be able to erase any personal data he wishes.
    <br><br>
    <b>3:</b> If the user writes articles for the news service, these will be inspected by the administration team (or other contributors) before release. Any article that doesn't reflect Moneroj's ethics will be erased without further notice. Some articles may go to review, and those approved will be published.
    <br><br>
    <b>4:</b> The user is the owner the articles he wrote, but he grants permission for Moneroj and any other party to distribute the article, as long as these websites acknowledge the creator of that article. Any article published on Moneroj.net must have a license Creative Commons (<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>). If the user wishes to publish the same article on more than one website, he is free to do so, there's no exclusivity.
    
  <br><br>
  </p>
  <div>
    <center>
      <a class="button btn btn-success" href="{% url 'monerojnet:index' %}">Accept</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="button btn btn-danger" href="{% url 'users:delete_user' user.profile.id %}">Reject</a>
    </center>
  </div>  

</div>
<br><br>

{% endblock content %}  
