<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moneroj.net - Charts</title>

    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <style>
        .sidebar-brand {
            background-color: #ff4d21;
        }

        .collapse-inner {
            background-color: #ffb6a0;
        }

        .navbar-nav {
            background-color: rgb(29, 26, 25);
        }

        .card {
            background-color: rgb(37, 34, 33);
        }

        .card-header {
            background-color: rgb(37, 34, 33);
        }

        .border-left-new {
            border-left-color: rgb(221, 29, 29);
            border-left-width: 5px;
        }
        div.a {
            word-break: break-all;
        }
    </style>

    <!-- Load plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        #graph1.fullscreen {
            z-index: 9999;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            padding: 0px;
            bottom: 0px;
            float: left;
            min-height: 100%;
        }

        #graph1 {
            height: 650px;
        }

        #link_graph {
            color: #FF0000;
        }

        #link_graph:hover {
            color: #00FF00;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                href="{% url 'monerojnet:index' %}">
                <div class="sidebar-brand-icon">
                    <i class="fab fa-monero"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Moneroj</div>
            </a>
            <br>
            <!-- Heading -->
            <div class="sidebar-heading">
                Metrics
            </div>
            <!-- Nav Item - Prices Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrice"
                    aria-expanded="true" aria-controls="collapsePrice">
                    <i class="fas fa-dollar-sign"></i>
                    <span>Price (16)</span>
                </a>
                <div id="collapsePrice" class="collapse" aria-labelledby="headingPrice"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:pricelog' %}">Price in Dollars (Log.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:pricelin' %}">Price in Dollars (Lin.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:pricesats' %}">Price in Sats (Lin.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:fractal' %}">Fractal Multiple</a>
                        <a class="collapse-item" href="{% url 'monerojnet:inflationfractal' %}">Inflation-Adjusted
                            Fractal</a>
                        <a class="collapse-item" href="{% url 'monerojnet:golden' %}">Golden Ratio Multiplier</a>
                        <a class="collapse-item" href="{% url 'monerojnet:competitors' %}">Performance ($, Log.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:competitorslin' %}">Performance ($, Lin.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:competitorssats' %}">Performance (Sats, Log.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:competitorssatslin' %}">Performance (Sats, Lin.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:inflationreturn' %}">Return vs. Inflation</a>
                        <a class="collapse-item" href="{% url 'monerojnet:bitcoin' %}">Comparison to Bitcoin</a>
                        <a class="collapse-item" href="{% url 'monerojnet:powerlaw' %}">Power Law</a>
                        <a class="collapse-item" href="{% url 'monerojnet:thermocap' %}">Thermocap Multiple</a>
                        <a class="collapse-item" href="{% url 'monerojnet:sharpe' %}">Sharpe Ratio</a>
                        <a class="collapse-item" href="{% url 'monerojnet:deviation' %}">Price Deviation</a>
                    </div>
                </div>
            </li>            
            <!-- Nav Item - Marketcap Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarketcap"
                    aria-expanded="true" aria-controls="collapseMarketcap">
                    <i class="fas fa-award"></i>
                    <span>Marketcap (6)</span>
                </a>
                <div id="collapseMarketcap" class="collapse" aria-labelledby="headingMarketcap"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:dominance' %}">Monero's Dominance</a>
                        <a class="collapse-item" href="{% url 'monerojnet:monerodominance' %}">Monero Privacy Dominance</a>
                        <a class="collapse-item" href="{% url 'monerojnet:privacydominance' %}">Total Privacy Dominance</a>
                        <a class="collapse-item" href="{% url 'monerojnet:rank' %}">Monero's CMC Rank</a>
                        <a class="collapse-item" href="{% url 'monerojnet:marketcap' %}">Privacy Coins' Marketcap</a>
                        <a class="collapse-item" href="{% url 'monerojnet:privacymarketcap' %}">Total Privacy Marketcap</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Transactions Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTransactions"
                    aria-expanded="true" aria-controls="collapseTransactions">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Transactions (8)</span>
                </a>
                <div id="collapseTransactions" class="collapse" aria-labelledby="headingTransactions"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:translin' %}">Transaction Count (Lin.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:translog' %}">Transaction Count (Log.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:transmonth' %}">Monthly Transactions (Lin.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:transcost' %}">Transaction Cost ($)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:transcostntv' %}">Transaction Cost (Ntv.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:percentage' %}">Transaction Percentage</a>
                        <a class="collapse-item" href="{% url 'monerojnet:metcalfesats' %}">Metcalfe's Law (Sats)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:metcalfeusd' %}">Metcalfe's Law ($)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:deviation_tx' %}">Tx. Count Deviation</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Issuance Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIssuance"
                    aria-expanded="true" aria-controls="collapseIssuance">
                    <i class="fas fa-chart-area"></i>
                    <span>Issuance (7)</span>
                </a>
                <div id="collapseIssuance" class="collapse" aria-labelledby="headingIssuance"
                    data-parent="#accordionSidebar">
                    <div class="collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:coins' %}">Coins in Circulation</a>
                        <a class="collapse-item" href="{% url 'monerojnet:extracoins' %}">Supply Difference</a>
                        <a class="collapse-item" href="{% url 'monerojnet:inflation' %}">Annual Inflation</a>
                        <a class="collapse-item" href="{% url 'monerojnet:tail_emission' %}">Tail Emission</a>
                        <a class="collapse-item" href="{% url 'monerojnet:compinflation' %}">Competitors' Inflation</a>
                        <a class="collapse-item" href="{% url 'monerojnet:dailyemission' %}">Daily Emission ($)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:dailyemissionntv' %}">Daily Emission (Ntv.)</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Stock-to-flow Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSF"
                    aria-expanded="true" aria-controls="collapseSF">
                    <i class="fas fa-coins"></i>
                    <span>Stock-to-flow (3)</span>
                </a>
                <div id="collapseSF" class="collapse" aria-labelledby="headingSF" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:sfmodel' %}">Stock-to-flow (Log.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:sfmodellin' %}">Stock-to-flow (Lin.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:sfmultiple' %}">Stock-to-flow Multiple</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Stock-to-flow Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMining"
                    aria-expanded="true" aria-controls="collapseMining">
                    <i class="fas fa-calculator"></i>
                    <span>Mining (14)</span>
                </a>
                <div id="collapseMining" class="collapse" aria-labelledby="headingMining"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:hashrate' %}">Hashrate</a>
                        <a class="collapse-item" href="{% url 'monerojnet:hashprice' %}">Price Per Hashrate</a>
                        <a class="collapse-item" href="{% url 'monerojnet:hashvsprice' %}">Hashrate Vs Price</a>
                        <a class="collapse-item" href="{% url 'monerojnet:minerrev' %}">Miner Revenue ($)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:minerrevntv' %}">Miner Revenue (Ntv.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:minerfees' %}">Miner Fees ($)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:minerfeesntv' %}">Miner Fees (Ntv.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:minerrevcap' %}">Revenue / Marketcap (%)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:commit' %}">Miner Commitment ($)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:commitntv' %}">Miner Commitment (Ntv.)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:blocksize' %}">Block Size (Bytes)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:blockchainsize' %}">Blockchain Size (Bytes)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:transactionsize' %}">Transaction Size (Bytes)</a>
                        <a class="collapse-item" href="{% url 'monerojnet:difficulty' %}">Mining Difficulty</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Social
            </div>
            <!-- Nav Item - Social Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSocial"
                    aria-expanded="true" aria-controls="collapseSocial">
                    <i class="fab fa-reddit-alien"></i>
                    <span>Reddit (7)</span>
                </a>
                <div id="collapseSocial" class="collapse" aria-labelledby="headingSocial"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:social' %}">Total Subscribers</a>
                        <a class="collapse-item" href="{% url 'monerojnet:social6' %}">Daily Comments</a>
                        <a class="collapse-item" href="{% url 'monerojnet:social7' %}">Daily Posts</a>
                        <a class="collapse-item" href="{% url 'monerojnet:social4' %}">Monthly Increase</a>
                        <a class="collapse-item" href="{% url 'monerojnet:social2' %}">Dollars / Subscriber</a>
                        <a class="collapse-item" href="{% url 'monerojnet:social3' %}">Subscribers Percentage</a>
                        <a class="collapse-item" href="{% url 'monerojnet:social5' %}">Subscribers & Transac.</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Darknet Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDread"
                    aria-expanded="true" aria-controls="collapseDread">
                    <i class="far fa-eye-slash"></i>
                    <span>Dread (1)</span>
                </a>
                <div id="collapseDread" class="collapse" aria-labelledby="headingDread"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:dread_subscribers' %}">Total Subscribers</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Adoption Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdoption"
                    aria-expanded="true" aria-controls="collapseAdoption">
                    <i class="fas fa-store"></i>
                    <span>Adoption (4)</span>
                </a>
                <div id="collapseAdoption" class="collapse" aria-labelledby="headingDarknet"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:coincards' %}">Coincards Usage</a>
                        <a class="collapse-item" href="{% url 'monerojnet:merchants' %}">Merchant Acceptance</a>
                        <a class="collapse-item" href="{% url 'monerojnet:merchants_increase' %}">Merchant Increase</a>
                        <a class="collapse-item" href="{% url 'monerojnet:merchants_percentage' %}">Merchant Increase (%)</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Trends Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTrends"
                    aria-expanded="true" aria-controls="collapseTrends">
                    <i class="fab fa-google"></i>
                    <span>Google Trends (1)</span>
                </a>
                <div id="collapseTrends" class="collapse" aria-labelledby="headingTrends"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Charts:</h6>
                        <a class="collapse-item"
                            href="https://trends.google.com/trends/explore?date=today%205-y&q=monero"
                            target="_blank">Google Trends</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Heading -->
            <div class="sidebar-heading">
                Others
            </div>
            <!-- Nav Item - Others Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOthers"
                    aria-expanded="true" aria-controls="collapseOthers">
                    <i class="fas fa-info-circle"></i>
                    <span>About Us</span>
                </a>
                <div id="collapseOthers" class="collapse" aria-labelledby="headingOthers"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">Info:</h6>
                        <a class="collapse-item" href="{% url 'monerojnet:about' %}">About Us</a>
                        <a class="collapse-item" href="https://twitter.com/CryptoMorpheus_" target="_blank">Twitter</a>
                        <a class="collapse-item" href ="https://repo.getmonero.org/monero-project/ccs-proposals/-/merge_requests/318" target="_blank">CCS Proposal Link</a>
                    </div>
                </div>
            </li>


        </ul>
        <!-- End of Sidebar -->

        {% block content %}
        {% endblock %}

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>