{% extends 'charts/base.html' %}

{% block header %}
<title>Revuo Moneroj - About</title>
<style>
    .break {
        word-break: break-all;
    }
    .link {
        color: #ff4d21;
        }

    .link:hover {
        color: #ff8262;
        text-decoration: none;
    }
    .pill {
        background: #ef7726;
        color: #1e1c1b;
        }

    .pill:hover {
        background: #ef7726;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}

{% load static %}

<!-- Content Wrapper -->
<div id="content-wrapper" style="background-color:rgb(48, 44, 41)">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid"><br>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="row">
			<iframe src="https://trocador.app/anonpay/?ticker_to=xmr&network_to=Mainnet&address=89Esx7ZAoVcD9wiDw57gxgS7m52sFEEbQiFC4qq18YZy3CdcsXvJ67FYdcDFbmYEGK7xerxgmDptd1C2xLstCbgF3RUhSMT&buttonbgcolor=ef7726&bgcolor=" width="310" height="350" style="border:0" class="mx-5 mt-2" scrolling="no"></iframe>
                    </div>                        
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card border-left-new">
                                <div class="card-body">
                                    <h4 class="card-text text-white">About this website</h4>
                                    <p class="card-text text-white" style="text-align: justify; text-justify: inter-word;">
                                        Revuo Moneroj was developed to help Monero's
                                        community understand it, visualize adoption and to compare it against other
                                        projects such as Bitcoin. This project was made without any intention for profit,
                                        and is maintained by my own funds. If you want to help
                                        the this site, please donate some XMR. Also, all suggestions are welcome!<br><br>
                                        We do believe Monero is like no other currency, since it has true privacy
                                        (optional privacy is no privacy at all),
                                        and also serves as a store of value (since it has an already small and yet
                                        decreasing anual inflation). Bitcoin is not fungible, which means
                                        different Bitcoins are different from each other, since both have different
                                        (and verifiable) history. Will you also take the orange pill?
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="https://www.getmonero.org/" class="btn btn-block pill">Take the Orangepill</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="https://www.federalreserve.gov/" class="btn btn-block btn-primary">Take the
                                                Bluepill
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% endblock %}
