<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
{% load static i18n %}

<head>    
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% trans 'Your information source about Monero, with metrics, charts, stats and articles.' %}">
  
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="{% static 'img/logo.png' %}" />
    <meta name="twitter:title" content="{% trans 'Revuo Moneroj' %}" />
    <meta name="twitter:description" content="{% trans 'Your information source about Monero, with metrics, charts, stats and articles.' %}" />

    <meta property="og:type" content="website" />
    <meta property="og:image" itemprop="image" content="{% static 'img/logo.png' %}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:title" content="{% trans 'Revuo Moneroj' %}" />
    <meta property="og:description" content="{% trans 'Your information source about Monero, with metrics, charts, stats and articles.' %}" />

    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
        .sidebar-brand {
            background-color: #ff4d21;
        }

        .collapse-inner {
            background-color: #ffb6a0;
        }

        .navbar-nav {
            /*background-color: rgb(29, 26, 25);*/
	    background-color: #212121;
        }

        .card {
            background-color: rgb(37, 34, 33);
        }

        .card-header {
            background-color: rgb(37, 34, 33);
        }

        .border-left-new {
            border-left-color: #ff4d21;
            border-left-width: 5px;
        }
        div.a {
            word-break: break-all;
        }
        .btn {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 12px;
            padding-right: 12px;
        }
        
        #graph1.fullscreen {
            z-index: 9999;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            padding: 0px;
            bottom: 0px;
            float: left;
            min-height: 100%;
        }

        .link_graph {
            color: #ff4d21;
            text-decoration: none;
        }

        .link_graph:hover {
            color: #af3517;
            text-decoration: none;
        }
    </style>
    
    <!-- Load plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% block header %}
    {% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Heading -->
            <li class="nav-item mt-2">
		    <a class="collapse-item" href="/" target=""><img alt="revuo logo" width="100px" class="" src="{% static 'img/revuo-logo.png' %}" /></a>
            </li>
            <div class="sidebar-heading">
                <br>
                {% trans "Metrics" %}
            </div>
            <!-- Nav Item - Prices Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrice"
                    aria-expanded="true" aria-controls="collapsePrice">
                    <i class="bx bx-dollar"></i>
                    <span>{% trans "Price (18)" %}</span>
                </a>
                <div id="collapsePrice" class="collapse" aria-labelledby="headingPrice"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:pricelog' %}">{% trans "Price in Dollars (Log.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:pricelin' %}">{% trans "Price in Dollars (Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:pricesats' %}">{% trans "Price in BTC (Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:pricesatslog' %}">{% trans "Price in BTC (Log.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:fractal' %}">{% trans "Fractal Multiple" %}</a>
                        <a class="collapse-item" href="{% url 'charts:inflationfractal' %}">{% trans "Inflation-Adjusted Fractal" %}</a>
                        <a class="collapse-item" href="{% url 'charts:marketcycle' %}">{% trans "Market Cycle" %}</a>
                        <a class="collapse-item" href="{% url 'charts:golden' %}">{% trans "Golden Ratio Multiplier" %}</a>
                        <a class="collapse-item" href="{% url 'charts:competitors' %}">{% trans "Performance ($, Log.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:competitorslin' %}">{% trans "Performance ($, Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:competitorssats' %}">{% trans "Performance (BTC, Log.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:competitorssatslin' %}">{% trans "Performance (BTC, Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:inflationreturn' %}">{% trans "Return vs. Inflation" %}</a>
                        <a class="collapse-item" href="{% url 'charts:bitcoin' %}">{% trans "Comparison to Bitcoin" %}</a>
                        <a class="collapse-item" href="{% url 'charts:powerlaw' %}">{% trans "Power Law" %}</a>
                        <a class="collapse-item" href="{% url 'charts:thermocap' %}">{% trans "Thermocap Multiple" %}</a>
                        <a class="collapse-item" href="{% url 'charts:sharpe' %}">{% trans "Sharpe Ratio" %}</a>
                        <a class="collapse-item" href="{% url 'charts:deviation' %}">{% trans "Price Deviation" %} <span class="badge badge-pill badge-secondary">{% trans "New" %}</span></a>
                    </div>
                </div>
            </li>            
            <!-- Nav Item - Marketcap Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarketcap"
                    aria-expanded="true" aria-controls="collapseMarketcap">
                    <i class="bx bx-award"></i>
                    <span>{% trans "Marketcap (6)" %}</span>
                </a>
                <div id="collapseMarketcap" class="collapse" aria-labelledby="headingMarketcap"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:dominance' %}">{% trans "Monero's Dominance" %}</a>
                        <a class="collapse-item" href="{% url 'charts:monerodominance' %}">{% trans "Monero Privacy Dominance" %}</a>
                        <a class="collapse-item" href="{% url 'charts:privacydominance' %}">{% trans "Total Privacy Dominance" %}</a>
                        <a class="collapse-item" href="{% url 'charts:rank' %}">{% trans "Monero's CMC Rank" %}</a>
                        <a class="collapse-item" href="{% url 'charts:marketcap' %}">{% trans "Privacy Coins' Marketcap" %}</a>
                        <a class="collapse-item" href="{% url 'charts:privacymarketcap' %}">{% trans "Total Privacy Marketcap" %}</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Transactions Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTransactions"
                    aria-expanded="true" aria-controls="collapseTransactions">
                    <i class="bx bx-transfer"></i>
                    <span>{% trans "Transactions (15)" %}</span>
                </a>
                <div id="collapseTransactions" class="collapse" aria-labelledby="headingTransactions"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:translin' %}">{% trans "Transaction Count (Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:translog' %}">{% trans "Transaction Count (Log.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:transmonth' %}">{% trans "Monthly Transactions (Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:transcost' %}">{% trans "Transaction Cost ($)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:transcostntv' %}">{% trans "Transaction Cost (Ntv.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:percentage' %}">{% trans "Transaction Percentage" %}</a>
                        <a class="collapse-item" href="{% url 'charts:percentmonth' %}">{% trans "Monthly Percentage (Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:shielded' %}">{% trans "Shielded Transactions" %}</a>
                        <a class="collapse-item" href="{% url 'charts:comptransactions' %}">{% trans "Competitors' Transac." %}</a>
                        <a class="collapse-item" href="{% url 'charts:metcalfesats' %}">{% trans "Metcalfe's Law (BTC)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:metcalfeusd' %}">{% trans "Metcalfe's Law ($)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:metcalfesats_deviation' %}">{% trans "Metc. Deviation (BTC)" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:metcalfe_deviation' %}">{% trans "Metcalfe Deviation ($)" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:deviation_tx' %}">{% trans "Transac. Price Dev." %} <span class="badge badge-pill badge-secondary">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:transactiondominance' %}">{% trans "Transac. Dominance" %} <span class="badge badge-pill badge-secondary">{% trans "New" %}</span></a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Issuance Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIssuance"
                    aria-expanded="true" aria-controls="collapseIssuance">
                    <i class="bx bx-bar-chart"></i>
                    <span>{% trans "Issuance (7)" %}</span>
                </a>
                <div id="collapseIssuance" class="collapse" aria-labelledby="headingIssuance"
                    data-parent="#accordionSidebar">
                    <div class="collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:coins' %}">{% trans "Coins in Circulation" %}</a>
                        <a class="collapse-item" href="{% url 'charts:extracoins' %}">{% trans "Supply Difference" %}</a>
                        <a class="collapse-item" href="{% url 'charts:inflation' %}">{% trans "Annual Inflation" %}</a>
                        <a class="collapse-item" href="{% url 'charts:tail_emission' %}">{% trans "Tail Emission" %}</a>
                        <a class="collapse-item" href="{% url 'charts:compinflation' %}">{% trans "Competitors' Inflation" %}</a>
                        <a class="collapse-item" href="{% url 'charts:dailyemission' %}">{% trans "Daily Emission ($)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:dailyemissionntv' %}">{% trans "Daily Emission (Ntv.)" %}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Stock-to-flow Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSF"
                    aria-expanded="true" aria-controls="collapseSF">
                    <i class="bx bx-check-circle"></i>
                    <span>{% trans "Stock-to-flow (3)" %}</span>
                </a>
                <div id="collapseSF" class="collapse" aria-labelledby="headingSF" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:sfmodel' %}">{% trans "Stock-to-flow (Log.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:sfmodellin' %}">{% trans "Stock-to-flow (Lin.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:sfmultiple' %}">{% trans "Stock-to-flow Multiple" %}</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Stock-to-flow Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMining"
                    aria-expanded="true" aria-controls="collapseMining">
                    <i class="bx bx-calculator"></i>
                    <span>{% trans "Mining (22)" %}</span>
                </a>
                <div id="collapseMining" class="collapse" aria-labelledby="headingMining"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:hashrate' %}">{% trans "Hashrate" %}</a>
                        <a class="collapse-item" href="{% url 'charts:hashprice' %}">{% trans "Price Per Hashrate" %}</a>
                        <a class="collapse-item" href="{% url 'charts:hashvsprice' %}">{% trans "Hashrate vs Price" %}</a>
                        <a class="collapse-item" href="{% url 'charts:minerrev' %}">{% trans "Miner Revenue ($)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:minerrevntv' %}">{% trans "Miner Revenue (Ntv.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:minerfees' %}">{% trans "Miner Fees ($)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:minerfeesntv' %}">{% trans "Miner Fees (Ntv.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:miningprofitability' %}">{% trans "Mining Profitability" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:minerrevcap' %}">{% trans "Revenue / Marketcap (%)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:commit' %}">{% trans "Miner Commitment ($)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:commitntv' %}">{% trans "Miner Commitment (Ntv.)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:blocksize' %}">{% trans "Block Size (Bytes)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:blockchainsize' %}">{% trans "Blockchain Size (Bytes)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:transactionsize' %}">{% trans "Transaction Size (Bytes)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:difficulty' %}">{% trans "Mining Difficulty" %}</a>
                        <a class="collapse-item" href="{% url 'charts:securitybudget' %}">{% trans "Security Budget" %} <span class="badge badge-pill badge-secondary">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:efficiency' %}">{% trans "Breakeven Efficiency" %} <span class="badge badge-pill badge-secondary">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:p2pool_hashrate' %}">{% trans "P2Pool Hashrate" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:p2pool_dominance' %}">{% trans "P2Pool Dominance" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:p2pool_miners' %}">{% trans "P2Pool Miners" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:p2pool_totalblocks' %}">{% trans "P2Pool Blocks Found" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <a class="collapse-item" href="{% url 'charts:p2pool_totalhashes' %}">{% trans "P2Pool Hashes Found" %} <span class="badge badge-pill badge-danger">{% trans "New" %}</span></a>
                        <!--
                        <a class="collapse-item" href="{% url 'charts:difficulty' %}">Reward / Hashrate</a>
                        -->
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% trans "Social" %}
            </div>
            <!-- Nav Item - Social Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSocial"
                    aria-expanded="true" aria-controls="collapseSocial">
                    <i class="bx bxl-reddit"></i>
                    <span>{% trans "Reddit (7)" %}</span>
                </a>
                <div id="collapseSocial" class="collapse" aria-labelledby="headingSocial"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:social' %}">{% trans "Total Subscribers" %}</a>
                        <a class="collapse-item" href="{% url 'charts:social_comments_per_day' %}">{% trans "Daily Comments" %}</a>
                        <a class="collapse-item" href="{% url 'charts:social_posts_per_day' %}">{% trans "Daily Posts" %}</a>
                        <a class="collapse-item" href="{% url 'charts:social_monthly_increase' %}">{% trans "Monthly Increase" %}</a>
                        <a class="collapse-item" href="{% url 'charts:social_dividend' %}">{% trans "Dollars per Subscriber" %}</a>
                        <a class="collapse-item" href="{% url 'charts:social_subscribers_percentage' %}">{% trans "Subscribers Percentage" %}</a>
                        <a class="collapse-item" href="{% url 'charts:social_transactions_percentage' %}">{% trans "Subscribers & Transactions" %}</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Darknet Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDread"
                    aria-expanded="true" aria-controls="collapseDread">
                    <i class="bx bx-hide"></i>
                    <span>{% trans "Subscribers (1)" %}</span>
                </a>
                <div id="collapseDread" class="collapse" aria-labelledby="headingDread"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:dread_subscribers' %}">{% trans "Dread Subscribers" %}</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Adoption Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdoption"
                    aria-expanded="true" aria-controls="collapseAdoption">
                    <i class="bx bx-store"></i>
                    <span>{% trans "Adoption (5)" %}</span>
                </a>
                <div id="collapseAdoption" class="collapse" aria-labelledby="headingDarknet"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item" href="{% url 'charts:coincards' %}">{% trans "Coincards Usage" %}</a>
                        <a class="collapse-item" href="{% url 'charts:merchants' %}">{% trans "Merchant Acceptance" %}</a>
                        <a class="collapse-item" href="{% url 'charts:merchants_increase' %}">{% trans "Merchant Increase" %}</a>
                        <a class="collapse-item" href="{% url 'charts:merchants_percentage' %}">{% trans "Merchant Increase (%)" %}</a>
                        <a class="collapse-item" href="{% url 'charts:dex_volume' %}">{% trans "Dex Volume" %}</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Trends Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTrends"
                    aria-expanded="true" aria-controls="collapseTrends">
                    <i class="bx bxl-google"></i>
                    <span>{% trans "Google Trends (1)" %}</span>
                </a>
                <div id="collapseTrends" class="collapse" aria-labelledby="headingTrends"
                    data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header text-dark">{% trans "Charts:" %}</h6>
                        <a class="collapse-item"
                            href="https://trends.google.com/trends/explore?date=today%205-y&q=monero"
                            target="_blank">{% trans "Google Trends" %}</a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->
        
        {% block content %}
        {% endblock %}

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
